*.[oa]
*~
*.tar.gz
\#*
.*
*.lo
*.tar.gz
*.py[cod]
*.egg
*.egg-info
INSTALL
ChangeLog
confscript.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/
compile
install-sh
libtool
ltmain.sh
missing
libaffine.la
libpd.la
multi_gauss_example
single_gauss_example
rosenbrock_example
polyfit_example
paramset_test
chain_test
ensemble_test
queue_test
src/Makefile
src/Makefile.in
pofd_affine_getPD
pofd_affine_getR
pofd_affine_getLike
pofd_affine_getdNdS
pofd_affine_mcmc
libpd.la
initFile_test
specFile_test
mpi_copy_test
pofd_test
model_test
beam_test
data_test
m4
*.m4
affine_plots/build
affine_plots/dist
affine_plots/eggs
affine_plots/bin
affine_plots/parts
affine_plots/var
affine_plots/sdist
affine_plots/develop-eggs
affine_plots/.installed.cfg
affine_plots/lib
affine_plots/lib64
