*.[oa]
*~
*.tar.gz
\#*
.*
INSTALL
ChangeLog
confscript.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
test
src/Makefile
src/Makefile.in
src/chain_test
src/ensemble_test
src/multi_gauss_example
src/polyfit_example
src/rosenbrock_example
src/single_gauss_example
pofd_affine_getPD
pofd_affine_getR
pofd_affine_getLike
pofd_affine_getdNdS
*.m4
