*.[oa]
*~
*.tar.gz
\#*
.*
INSTALL
ChangeLog
confscript.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
src/Makefile
src/Makefile.in
chain_test
ensemble_test
multi_gauss_example
polyfit_example
rosenbrock_example
single_gauss_example
libaffine.la
pofd_affine_getPD
pofd_affine_getR
pofd_affine_getLike
pofd_affine_getdNdS
pofd_affine_mcmc
test_initFile
test_specFile
test_copy
m4
*.m4


